<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>文件管理</title>
<link rel="stylesheet" type="text/css" href="/yourboot/js/upload/ssi-uploader/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/yourboot/js/upload/ssi-uploader/css/style.css">
<link rel="stylesheet" type="text/css" href="/yourboot/js/upload/ssi-uploader/css/ssi-uploader.css"/>
</head>
<body>
	This a file management page! </br>
	<div id="mainDiv">
		<div id="buttonDiv">
			<button id="上传文件">上传文件</button>
		</div>
	</div>
	
	<!-- 上传区域 -->
	<div id="uploadDiv">
		<div class="container">
			<div class="container">
				<h3>多文件拖拽上传</h3>
				<div class="row">
					<div class="col-md-12">
						<h3>基本演示（支持jpg、gif、txt、png和pdf格式文件）</h3>
						<input type="file" multiple id="ssi-upload"/>
					</div>
				</div>
<!-- 				<div class="row">
					<div class="col-md-12">
						<h3>无预览图效果：</h3>
						<input type="file" multiple id="ssi-upload2"/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3>不带拖放区域：</h3>
						<input type="file" multiple id="ssi-upload3"/>
					</div>
				</div>
 -->			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="/yourboot/js/common/common.js"></script>
	<script type="text/javascript" src="/yourboot/js/file/file.js"></script>
	<script src="/yourboot/js/upload/ssi-uploader/js/ssi-uploader.js"></script>
</body>
</html>