<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.youdy.mvc.mapper.SysAreaMapper">
	
	<!-- 查询区域数据 -->
	<select id="searchAreas" parameterType="SysAreaBean" resultType="SysAreaBean">
		SELECT 
			t.areaID AS areaID,
			t.areaName AS areaName,
			t.areaCode AS areaCode,
			t.parentID AS parentID,
			t.areaLevel AS areaLevel,
			t.createTime AS createTime,
			t.status AS status
		FROM SYS_BASE_AREA t
		WHERE t.status = 1		
		<if test="areaLevel != null and areaLevel != ''">
			AND t.areaLevel = #{areaLevel}
		</if>
		<if test="areaSearchName != null and areaSearchName != ''">
			AND t.areaName like CONCAT('%', #{areaSearchName}, '%')
		</if>
		LIMIT #{startIndex}, #{endIndex}
	</select>
	
</mapper>