<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>

    <typeAliases>
    	<!-- 用户 -->
        <typeAlias alias="UserBean" type="com.youdy.bean.UserBean"/>
    	<!-- 区域 -->
        <typeAlias alias="SysAreaBean" type="com.youdy.bean.SysAreaBean"/>
    </typeAliases>
</configuration>